:root{
    --primary-color: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --secondary-color: hsl(0, 100%, 66%);

    --neutral-color: hsl(0, 0%, 100%);
    --darker-neutral-color: hsl(270, 3%, 87%);
    --dark-neutral-color: hsl(279, 6%, 55%);
    --darkest-neutral-color: hsl(278, 68%, 11%);

}

body{
    font-family: 'Space Grotesk', sans-serif;
}

.card{
    width: 16.8125rem ;
    height: 10rem ;
    padding: .9375rem ;
}

.card__back-background{
    background-image: url("/images/bg-card-back.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.card__front-background{
    background-image: url("/images/bg-card-front.png");
    background-size: contain;
    background-repeat: no-repeat;
}