:root{
    --primary-color: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --secondary-color: hsl(0, 100%, 66%);

    --neutral-color: hsl(0, 0%, 100%);
    --darker-neutral-color: hsl(270, 3%, 87%);
    --dark-neutral-color: hsl(279, 6%, 55%);
    --darkest-neutral-color: hsl(278, 68%, 11%);

}

body{
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
}

p{
    margin: 0;
}

.container {
    background: url("/images/bg-main-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: .9375rem;
}

.card{
    width: 16.8125rem ;
    height: 10rem ;
    padding: .9375rem ;
    color: var(--neutral-color);
}

.card img{
    width: 15%;
}

.card:nth-child(1){
    position: relative;
    right: -2.8125rem;
}

.card:nth-child(1) span{
    position: relative;
    top: 3.4375rem;
    left: 13.4375rem;
}

.card:nth-child(2){
    position: relative;
    top: -6.0625rem;
}

.card__back-background{
    background-image: url("/images/bg-card-back.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.card__front-background{
    background-image: url("/images/bg-card-front.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.card__details{
    margin-top: 2.25rem;
}

.card__card-number{
    font-size: 1.5rem;
}
.card__details-next{
    display: flex;
    justify-content: space-between;
    margin-top: .9375rem ;
    color: var(--darker-neutral-color);
}